@page "/"
@inject NavigationManager Navigation
@inject IJSRuntime jsRuntime

<PageTitle>Index</PageTitle>





<h1>Hello, world!</h1>

<input type="hidden" id="SpotifyToken" value="@Token" />
<input type="hidden" id="SpotifyDeviceId" @bind-value="DeviceId" />

<div>
    <button @onclick=OnButtonClick>Get Tracks</button>
    <button @onclick="PlayNextSong">Next Song</button>
</div>

@if (Artists != null)
{
    foreach (FullArtist artist in Artists)
    {
        <div>@artist.Name</div>
    }
}

@if (Tracks != null)
{
    foreach (SavedTrack track in Tracks)
    {
        <button @onclick="(async () => { await PlayTrack(track.Track.Uri);})">@track.Track.Name</button>
    }
}